#cssmenu::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#cssmenu {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* width */
/*::-webkit-scrollbar {
    width: 10px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
    background: #fff;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
    background-color: #166d3b;
    background-image: linear-gradient( 147deg, #166d3b 0%, #000000 74%);
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background-color: #166d3b;
}*/



.jcarousel-control {
    top: -35px;
}

.jcarousel-control-prev {
    margin-left: 90%;
}
#num-cart-product {
    top: -15px;
    right: -17px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart {
    position: relative;
}
/*@media screen and (min-width: 1001px) {
    .legend2 {
        right: 1%;
    }
}
@media screen and (min-width: 301px )and (max-width: 1000px) {
    .legend2 {
        right: 5%;
    }
}*/
/*@media screen and (min-width: 501px )and (max-width: 700px) {
    .legend2 {
        right: 5%;
    }
}
@media screen and (min-width: 301px )and (max-width: 500px) {
    .legend2 {
        right: 3%;
    }
}*/