#sidebar-wrapper {
    width: 240px;
    background-color: #ffffff;
    /*z-index: 99999999999999;*/
    position:relative;
    /*position:absolute;*/
    /*border-right: 3px solid #166d3b;*/
}
/*#sidebarToggle{
    margin-left:18%;
}
.pre-cssmenu {
    height: 45px;
    margin:10px 35px;
}
.pre-cssmenu h3 {
    background-color: #166d3b;
    background-image: linear-gradient( 147deg, #166d3b 0%, #166d3b 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:900;
}*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu {
    top: 55px;
    color: #166d3b;
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 111;
    overflow-y: scroll;
    background-color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
    padding: 10px 12px 0 5px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #166d3b;
    
    /*    background: rgba(0, 0, 0, 0.3);*/
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
    #cssmenu > ul > li > a:hover {
        color: #ffd800;
    }
#cssmenu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #e5e5e5;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #e5e5e5;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
    padding: 10px 5px 0 40px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
    /*    background: rgba(0, 0, 0, 0.3);*/
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 60px;
}
#cssmenu ul ul li a:hover {
    color: #ffd800;
}
#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #e5e5e5;
}
#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #e5e5e5;
}
.menu-img {
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.has-search {
    position: relative;
    margin-left: 15%;
    width: 35%;
}

.has-search .form-control {
    padding-right: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    float: right;
    right: 3px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: wheat;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-2px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-2px, -6px);
}

@media screen and (min-width: 600px ) and (max-width:1200px){
    .hamburger {
        margin:0 0 0 25%;
    }
}
@media screen and (min-width: 1201px ) {
    .hamburger {
        margin: 0 0 0 15%;
    }
}